@model List<Eventure_ASP.Models.Event>

@{
    ViewData["Title"] = "Events";
}

<link rel="stylesheet" href="~/css/events.css" />
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <div class="header">EVENTS</div>
        <button class="btn-create-event" onclick="location.href='@Url.Action("Create", "Event")'">Create Event</button>
    </div>
    <div class="event-container mt-3">
        @if (Model == null || !Model.Any())
        {
            <p>No events to display.</p>
        }
        else
        {
            foreach (var eventItem in Model)
            {
                <div class="event-card">
                    <a href="@Url.Action("ReturnView", "Event", new { eventId = eventItem.Id })" class="event-card">
                        <h3 class="event-name">@eventItem.Name</h3>
                        <p>
                            @if (eventItem.StartTime.HasValue)
                            {
                                @eventItem.StartTime.Value.ToString("yyyy-MM-dd HH:mm")
                            }
                            else
                            {
                                <span>Start time not available</span>
                            }
                        </p>
                        <p>Location: @eventItem.Location</p>
                        <p>Organizer: @eventItem.Creator?.Username</p>
                    </a>
                </div>
            }
        }
    </div>
</div>